@import "styles/clear";

@font-face {
  font-family: 'Roboto', sans-serif;
  src: url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
}
body, html {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 16px;
  background-image: linear-gradient(to right top, #743ebe, #6f56cb, #6d6cd5, #6f7fdd, #7691e2, #6ba0eb, #64aef2, #61bbf6, #3cc9fa, #02d6f7, #00e2ee, #37ede0);
  background-repeat: no-repeat;
  background-attachment: fixed;
}
